.footer
    margin-top: 60px
    background-color: $dark
    padding: 59px 0
    color: $gray 
.footer-policy-link
    font-size: 12px
.footer
    p
        margin-bottom: 14px
.footer
    a
        color: $gray
        text-decoration: none
.footer
    a:hover
        color: $light
.footer
    small
        display: block
        margin-top: 56px
        line-height: 16px
        font-size: 10px
        max-width: 80%
.footer
    ul
        padding: 0
        list-style: none
.footer
    ul
        li
            line-height: 32px
.footer-contacts, .footer-social-links
    text-align: right
.footer-contacts
    &__phone
        font-weight: 400
        font-size: 20px
        color: $blue
.footer-social-links
    li
        display: inline-block
.footer-social-links
    li
        a
            display: inline-block;
            width: 42px
            height: 42px
            background-color: $dark-gray
            text-align: center
            border-radius: 50%
            line-height: 42px
            margin-left: 10px
            -webkit-transition: all 0.2s
            transition: all 0.2s  
.footer-social-links
    li
        a:hover
            background-color: $light
            color: $dark